/* default */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif; 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{

  background: #FFA3F6 url("../source/bg.png") repeat top;
//   height: 800px;
//   linear-gradient(to bottom, #FFCDC0 10.59%, #F3F0E9 86.96%)

}

.con {
    width: 70%;
    margin: auto;
    position: relative;
    text-align: center;
}

header {
    padding: 15px 0 0 0;
   
}

// header h1 {
//     padding-bottom: 10px;
// }




.wrapper{
    position: relative;
    bottom: 60px;
    z-index: 10;
    width: 60vw;
    text-align: center;
    margin: auto;
}
.about-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cards-container{

    flex-direction: column;

    align-items: center;
    justify-content:end;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
}
.card:nth-child(1) .front-card{
    background: url("../source/front_01.png") center/cover no-repeat;
    width: 262px;
    height: 754px;
    
}
.card:nth-child(2) .front-card{
  background: url("../source/front_02.png") no-repeat;
  background-position: center bottom;
  padding-top: 11rem;
//   padding-left:1rem;
  width: 459px;
  height: 565px;
  order:3

}
.card:nth-child(3) .front-card{
  background: url("../source/front_03.png") center/cover no-repeat;
  width: 225px;
  height: 737px;
  order:2
}
.card:nth-child(4) .front-card{
  background: url("../source/front_04.png") center/cover no-repeat;
  width: 238px;
  height: 771px;

}
.card:nth-child(5) .front-card{
  background: url("../source/front_05.png") center/cover no-repeat;
  width: 227px;
  height: 790px;
}
.card{
    height: 818px;
    // height:100%;
    perspective: 1000px;

}
.card-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    
}
.card:hover .card-wrapper{
    transform: rotateY(180deg);
}
.front-card, .rear-card{
    border-radius: 4px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card:nth-child(1) .rear-card{
    background: url("../source/back_01.png") center/cover no-repeat;
    width: 262px;
    height: 754px;
}
.card:nth-child(2) .rear-card{
    background: url("../source/back_02.png") no-repeat;
    background-position: center bottom;
    padding-top: 11rem;
    width: 459px;
    height: 565px;
    order:3
  
  }
  .card:nth-child(3) .rear-card{
    background: url("../source/back_03.png") center/cover no-repeat;
    width: 225px;
    height: 737px;
    order:2
  
  
  }
  .card:nth-child(4) .rear-card{
    background: url("../source/back_04.png") center/cover no-repeat;
    width: 238px;
    height: 771px;
  
  }
  .card:nth-child(5) .rear-card{
    background: url("../source/back_05.png") center/cover no-repeat;
    width: 227px;
    height: 790px;
  }
.rear-card{
    text-align: center;
    transform: rotateY(180deg);
    background: #00cec1;
    color: #fff;
    // padding: 20px;

}
.front-card div{
    position: absolute;
    // bottom: 15px;
    // left: 15px;
    // color: #fff;
    // line-height: 1.6;
}

// .about-info{
//     margin-top: 18px;
// }
// .about-info div h2{
//     font-size: 19px;
//     padding: 10px 0 2px;
// }
@media(max-width: 1170px){
    .wrapper{
        padding: 30px 0;
    }
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 800px){
    .cards-container{
        width: 90vw;
        grid-template-columns: 1fr;
    }
    // .card{
    //     width: 70%;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    // .card:nth-child(2){
    //     padding: 0;
    //   }
}
// @media(max-width: 400px){
//     .card{
//         width: 100%;
//         flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     }
//     .card:nth-child(2){
//         padding-top: 0px;
  
//       }
// }
// .card{
//     border: 1px solid red;
//     display: flex;
//     padding: 50px 0 50px 0;
//     margin: 100px 0 100px 0;
//     justify-content: center;
//     position: relative;
// }

// .flip-card {
//     background-color: transparent;
//     width: 100%;
//     height: 100%;
//     border: 1px solid #f1f1f1;
//     perspective: 1000px; /* Remove this if you don't want the 3D effect */
//   }
  
//   .flip-card-inner {

//     position: relative;
//     width: 400px;
//     height: 400px;
//     text-align: center;
//     transition: transform 0.8s;
//     transform-style: preserve-3d;
//   }
  
//   /* Do an horizontal flip when you move the mouse over the flip box container */
//   .flip-card:hover .flip-card-inner {
//     transform: rotateY(180deg);
//   }
  
//   .flip-card-front, .flip-card-back {
//     width: 100%;
//     height: 100%;
//     -webkit-backface-visibility: hidden; /* Safari */
//     backface-visibility: hidden;
//   }
  

//   .flip-card-front {
//     background-color: #bbb;
//     color: black;
//   }
  

//   .flip-card-back {
//     background-color: dodgerblue;
//     color: white;
//     transform: rotateY(180deg);
//   }